.bs-example{
margin-right: 20px;
margin-left:20px;
margin: 40px;
}
.modal-title {
text-align: center;
}

#myModal {
padding-left: 0px;
padding-right: 0px;
background-color:#22303B;
width: 80%; 
}  

.modal-open {
margin-left: 0px;
margin-right:0px;
margin-top: 0px;
margin-bottom: 0px;
}
.container-strip {
width: 100%;
background-color: #F5F0ED;
height: 400px;
}

.sidebar {
height: 50%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color:#22303B;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 400px;
color: #f1f1f1;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
}

.img-center {
margin-left:auto;
margin-right:auto;
display:block;
}

.sidebar a {
padding: 10px 10px 10px 10px;
font-size: 20px;
font-weight: 400px;
color: #f1f1f1;
display: block;
transition: 0.3s;
}  
.sidebar a:hover {
color:#C8962C;
font-weight: 400px;
font-family: 'Source Sans Pro', sans-serif;
}

.modal-btn {

width:60%;
font-family: 'Source Sans Pro', sans-serif;
background-color:#C8962C;
color:#000;
font-size: 18px;
border: #CAD9D9;
display: block;
}
  
.sidebar .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

.dropbtn {
size: 5px 5px 5px 5px;
color:#CAD9D9;
font-size: 20px;
text-decoration: #000;
display: inline-block;
} 

.openbtn {
font-size: 20px;
cursor: pointer;
background-color: #22303B;
color: #f1f1f1;
border: none;
float: right;
  
}

.navbar {
margin:0px;
padding-left: 0px;
padding-right:0px;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 900;
font-size: 20px;
background-color:#22303B;
color:#22303B;
}

.container-fluid
        

.li { 
font-family: 'Source Sans Pro', sans-serif;
font-size: 18px;
}

.navbar-brand {
padding-top:150px;
width: 380px;
height: 412px;
padding-left: 30px;
padding-right: 30px;
display: block;
margin-left: auto;
margin-right: auto;
          
}



.cart {
    background-color: #C8962C;
    color: black;
    padding: 16px; 
    border-radius: 50%;
    border:0px;
    z-index: -99;
}

#cartbutton {
    position: fixed;
    top: 80px;
    right: 20px;
}

#cartcounter {
    position: fixed;
    top: 75px;
    right: 20px;

}

.counter {
    background-color: red;
    color: black;
    border-radius: 50%;
    padding: 8px;  
    padding-top: 0px;
    padding-bottom: 3px;

}


#cartnumber
{
    color: white;
    font-size: 12px;
    line-height: 0px;
}

.b-image
{
    width: 35px;
    height: auto;
}


.btn {
font-family: 'Questrial', sans-serif;
background-color:#C8962C;
color:#000;
font-size: .85rem;
border: #C8962C;
width:60%

}

.center-logo {
display: block;
margin-left: auto;
margin-right: auto;
}
.img-space {
margin-top: 50px; 
padding-top: 50px; 
}


.padding-button {
padding-top: 20px;
padding-bottom: 20px;
display: block;
margin-left: auto;
margin-right: auto;
}

.container {
display: flex;
flex-wrap: wrap;
height: 125%;
width: 100%;
background-color:white;
}

.img-container-blog {
    padding-top: 50px;
    padding-bottom: 50px;
}
.rounded-circle {
border-radius: 90%!important;
height: 400px;
}
.padding-strip{
margin-bottom:200px;

}
.spacer {
margin-top:200px;
}
.padding-category {
margin-top:50px;
}
.container-strip-second{
width: 100%;
background-color: #F5F0ED;
height: 400px;
margin-top: 200px;  
margin-bottom:200px;
}

body {
margin-left:auto;
margin-right:auto;
display: block;      
}

   
h1 {
text-align: center;
padding-top:65px;
padding-bottom: 65px;
font-size: 2.75rem;
font-family: 'Questrial', sans-serif;
font-weight: 400px; 

}

h2 {
padding-left: 100px;
padding-top: 150px;
padding-bottom: 0px;
font-family: 'Questrial', sans-serif;
font-size: 2.5rem;

}

h3 {
padding-top: 75px;
font-family: 'Questrial', sans-serif;
text-align: center;
font-size: 1.5rem;
font-weight:600;
}

h4 {
width:100%;
font-family: 'Questrial', sans-serif;
font-size: 1.25rem;
text-align: left;
line-height: 1.8rem;
padding-top: 50px;
padding-bottom: 50px; 
}

h5 {
font-family: 'Questrial', sans-serif;
padding-top: 50px; 
font-weight:600;
text-align: left;
font-size: 2rem;
font-weight: 900px; 
}

h6 {
font-size: .95rem;
text-align: justify;
padding-top: 25px;
font-family: 'Questrial', sans-serif;
width: 100%;
}

p {
font-family: 'Questrial', sans-serif;
margin-left: .95rem;
text-align: center;
padding-bottom: 1rem; 
font-size: 17px;
line-height: 1.6rem;
width: 95%;
}

.checkout-title {
font-family: 'Questrial', sans-serif;
padding-top: 50px; 
font-weight:600;
text-align: left;
font-size: 2rem;
font-weight: 900px; 
}
.modal-p {
width:100%;
font-family: 'Questrial', sans-serif;
font-size: 1.25rem;
text-align: left;
line-height: 1.8rem;
padding-top: 50px;
padding-bottom: 50px; 

}
.center-logo {
margin-left: auto;
margin-right: auto; 
display: block;
}
.custom-container {
margin-left: auto;
margin-right: auto; 
display: block;
width: 1024px; 
height: 909px;
}
.container-padding {
margin-top: 50px; 
}



.padding-contact {

display: inline-block;
margin-left: auto;
margin-right: auto;
padding-right: 150px;
padding-top:50px;
}
.responsive {
    width: 100%;
    height: auto;
}      

/* Background image */
.jumbotron {
  text-align: center;
  padding-top: 0rem;
  text-shadow: 2px 2px #000;
}

.lead span {
  color: orange;
  font-weight: bold;
  }

.bg-cover {

  background-size: cover;
  color: white;
  background-position: center center;
  position: relative;
  z-index: -2;
  background-image: url()
}


.overlay {
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.container-fluid {
    width: 100%;
    display: flex;
    height: 1000px;
}
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  /* Bootstrap Grid Template */

  .thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #CDD8D2;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
.bloc_left_price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}
.category_block li:hover {
    background-color: #007bff;
}
.category_block li:hover a {
    color: #ffffff;
}
.category_block li a {
    color: #343a40;
}
.add_to_cart_block .price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    margin-bottom: 0;
}
.add_to_cart_block .price_discounted {
    color: #343a40;
    text-align: center;
    text-decoration: line-through;
    font-size: 140%;
}
.product_rassurance {
    padding: 10px;
    margin-top: 15px;
    background: #ffffff;
    border: 1px solid #6c757d;
    color: #6c757d;
}
.product_rassurance .list-inline {
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
}
.product_rassurance .list-inline li:hover {
    color: #343a40;
}
.reviews_product .fa-star {
    color: gold;
}
.pagination {
    margin-top: 20px;
}
footer {
    background: #CDD8D2;
    padding: 40px;
}
footer a {
    color: #CDD8D2!important
}
.progress {
margin-right:83px;
margin-left:83px;
}
